html,
body {
  margin: 0px;
  height: 0px;
}

// main container
div#olympic-container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  text-align: left;
  background-color: #eee;
  margin: 25px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; // left side 
  div#left-side {
    width: 30%;
    display: inline-block;
    div#profile-picture {
      height: 250px;
      width: 100%;
      background-image: url('http://via.placeholder.com/350x350');
      background-size: cover;
      background-position: center center;
    }
    div#menu-container {
      width: 100%;
      div.menu-item {
        width: 100%;
        background-color: #ccc;
        padding: 15px 25px;
        cursor: pointer;
        box-sizing: border-box;
        i {
          width: 35px;
        }
      }
      div.menu-item:hover {
        background-color: #bbb;
      }
      div.current-menu-item {
        background-color: #bbb;
      }
    }
  } // right side
  div#right-side {
    vertical-align: top;
    width: 69%;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    div#about-section,
    div#medals-section,
    div#events-section {
      h1 {
        font-size: 2em;
        line-height: 1em;
      }
    }
    div#events-section {
      div#events-container {
        div.olympic-date {
          display: inline-block;
          width: 100px;
          height: 100px;
          text-align: center;
          background-color: #bbb;
          cursor: pointer;
          margin-right: 15px;
          margin-bottom: 15px;
          span.month {
            display: block;
            margin-top: 15px;
          }
          span.date {
            font-size: 2em;
            font-weight: bold;
          }
        }
        div.olympic-date:hover {
          opacity: 0.5;
        }
      }
    }
    div#about-section {
      h1 {
        margin: 0px;
      }
      p#profile-hometown {
        font-style: italic;
      }
      p {
        margin-bottom: 15px;
      }
      a#profile-read-more {
        color: cadetblue;
        margin-top: 15px;
      }
    }
    div#medals-section,
    div#events-section {
      display: none;
    }
  } // profiles
  div#profiles-container {
    width: 100%;
    white-space: nowrap;
    div.profile-preview {
      display: inline-block;
      width: 20.5%;
      height: 125px;
      background-image: url('http://via.placeholder.com/350x350');
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      margin-left: -4px;
      margin-bottom: -4px;
    }
    div.profile-preview:hover {
      opacity: 0.5;
    }
  }
}

@media screen and (max-device-width: 500px),
screen and (max-width: 550px) {
  div#olympic-container {
    div#left-side,
    div#right-side {
      width: 100%;
    }
    div#left-side {
      div#menu-container {
        white-space: nowrap;
        div.menu-item {
          font-size: 1em;
          width: 33%;
          display: inline-block;
          text-align: center;
          i {
            margin: 0px auto;
            display: block;
          }
        }
      }
    }
    div#right-side {
      padding-bottom: 50px;
      div#about-section,
      div#medals-section,
      div#events-section {
        font-size: 1em;
        box-sizing: border-box;
        h1 {
          margin-top: 25px;
        }
      }
      div#events-section {
        div#events-container {
          div.olympic-date {
            width: 75px;
            height: 75px;
            span.month {
              margin-top: 2px;
            }
          }
        }
      }
    }
    div#profiles-container {
      div.profile-preview:hover {
        opacity: 1;
      }
    }
  }
}